# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/webapp/dist/
/webapp/tmp/

# dependencies
/webapp/bower_components/
/webapp/node_modules/

# misc
/webapp/.env*
/webapp/.pnp*
/webapp/.sass-cache
/webapp/connect.lock
/webapp/coverage/
/webapp/libpeerconnection.log
/webapp/npm-debug.log*
/webapp/testem.log
/webapp/yarn-error.log

# ember-try
/webapp/.node_modules.ember-try/
/webapp/bower.json.ember-try
/webapp/package.json.ember-try

/serverapp/node_modules/
serverapp/package-lock.json
